/********************
YOUR STYLES
*******************/


/* Header */
header {
  display: flex;
  justify-content: center;
  background-color: rosybrown;
}


/* Gallery Styling */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   background-color: beige;
}

figure {
  background: rgba(255,255,255,1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  width: 20em;
}

.lg-backdrop {
    background: rgba(255,255,255,1);
}

.lg-image {
    box-shadow: 0 0 30px #333;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-size: 35px;
}

h2 {
    text-align: center;
    color: bisque;
    font-size: 45px;
}

figcaption {
    color: dimgray;
}



/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
  body {
       background: rosybrown;
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background: rosybrown;
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background: rosybrown;
  }

}